:root {
  --size: 120px;
  --stroke: 3px;
  --radius: calc((var(--size) - var(--stroke)) / 2);
  --circumference: calc(2 * 3.1416 * var(--radius));
}

.rank-text {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 4px 8px;
  font-size: 14px;
}

.hole-cards-overlay {
  position: absolute;
  top: 20px;
  right: -50px;
  width: 80px; /* or adjust as needed */
  height: 80px;
  display: flex;
  pointer-events: none; /* so clicks go to avatar if needed */
  z-index: 3;
}

.hole-cards-overlay > *:first-child {
  transform: rotate(-10deg) translateX(-10px);
}

.hole-cards-overlay > *:last-child {
  transform: rotate(10deg) translateX(10px);
}

.player-image-wrapper {
  position: relative;
  width: var(--size);
  height: var(--size);
}

.svg-circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.player-image {
  background: #030a01;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  border: none;
}

.player-image.turn-active {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.stack-box {
  border-radius: 50%/100%;
  background: rgba(66, 64, 64, 0.5);
  padding: 15px;
  border: 1.2px solid rgba(170, 167, 167, 0.2);
  margin-top: -20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #645d5d;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  /* height: 55px; */

  /* inset shadow on top only (darker inside top edge) */
  box-shadow: inset 0 19px 8px -6px rgba(17, 17, 17, 0.7);

  /* or alternatively a top gradient overlay */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(71, 71, 71, 0.5) 40%, rgba(71, 71, 71, 0.5) 100%);
}

.stack-text {
  margin-left: 8px;
  color: #f8f669;
  font-size: 14px;
}

.username-text {
  margin-left: 8px;
  color: #f0f0f0;
  font-family: "Orbitron", sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  text-align: center;
}

/* Responsive adjustments */

@media (min-width: 376px) and (max-width: 768px) {
  :root {
    --size: 65px;
  }
  .rank-text {
    padding: 3px 7px;
    font-size: 12px;
  }
  .hole-cards-overlay {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 40px;
    height: 40px;
    display: flex;
    pointer-events: none;
    z-index: 3;
  }
  .stack-box {
    padding: 5px 25px;
    margin-top: -12px;
  }
  .stack-text,
  .username-text {
    font-size: 8px;
  }
}

@media (max-width: 769px) {
  :root {
    --size: 65px;
  }
  .rank-text {
    padding: 4px 8px;
    font-size: 13px;
  }
  .hole-cards-overlay {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 40px;
    height: 40px;
    display: flex;
    pointer-events: none;
    z-index: 3;
  }

  .stack-box {
    padding: 6px 14px;
    margin-top: -14px;
  }
  .stack-text,
  .username-text {
    font-size: 8px;
  }
}

@media (max-width: 390px) {
  :root {
    --size: 55px;
  }
  .rank-text {
    padding: 4px 8px;
    font-size: 13px;
  }
  .hole-cards-overlay {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 40px;
    height: 40px;
    display: flex;
    pointer-events: none;
    z-index: 3;
  }
  .stack-box {
    padding: 4px 8px;
    margin-top: -14px;
  }
  .stack-text,
  .username-text {
    font-size: 7px;
  }
}
