:root {
  --size: 80px;
  --stroke: 3px;
  --radius: calc((var(--size) - var(--stroke)) / 2);
  --circumference: calc(2 * 3.1416 * var(--radius));
}

.rank-text {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 4px 8px;
  font-size: 14px;
}

.hole-cards-container {
  height: 80px;
  margin-bottom: -40px;
  display: flex;
}

.player-image-wrapper {
  position: relative;
  width: var(--size);
  height: var(--size);
}

.svg-circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.player-image {
  background: #030a01;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  border: none;
}

.player-image.turn-active {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.stack-box {
  border-radius: 16px;
  background: linear-gradient(145deg, #1c1c1c, #111);
  padding: 6px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: -16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.05), 0px 4px 2px rgba(5, 5, 5, 0.8), 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #eee;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.stack-text {
  margin-left: 8px;
  color: #fff;
  font-size: 12px;
}

.username-text {
  margin-left: 8px;
  color: #f0f0f0;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  text-align: center;
}

/* Responsive adjustments */

@media (min-width: 376px) and (max-width: 768px) {
  :root {
    --size: 65px;
  }
  .rank-text {
    padding: 3px 7px;
    font-size: 12px;
  }
  .hole-cards-container {
    height: 65px;
    margin-bottom: -30px;
  }
  .stack-box {
    padding: 5px 25px;
    margin-top: -12px;
  }
  .stack-text,
  .username-text {
    font-size: 8px;
  }
}

@media (max-width: 769px) {
  :root {
    --size: 65px;
  }
  .rank-text {
    padding: 4px 8px;
    font-size: 13px;
  }
  .hole-cards-container {
    height: 75px;
    margin-bottom: -35px;
  }
  .stack-box {
    padding: 6px 14px;
    margin-top: -14px;
  }
  .stack-text,
  .username-text {
    font-size: 8px;
  }
}

@media (max-width: 390px) {
  :root {
    --size: 55px;
  }
  .rank-text {
    padding: 4px 8px;
    font-size: 13px;
  }
  .hole-cards-container {
    height: 75px;
    margin-bottom: -35px;
  }
  .stack-box {
    padding: 4px 8px;
    margin-top: -14px;
  }
  .stack-text,
  .username-text {
    font-size: 7px;
  }
}
