@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.poker-chip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.poker-chip-image {
  width: 50px;
  height: 50px;
}

.poker-chip-amount {
  text-align: center;
  line-height: 20px;
  color: #fff;
}

/* Responsive design */
@media (max-width: 600px) {
  .poker-chip-container {
    width: 60px;
    gap: 3px;
  }

  .poker-chip-image {
    width: 16px;
    height: 16px;
  }

  .poker-chip-amount {
    font-size: 10px;
  }
}

@media (min-width: 601px) {
  .poker-chip-container {
    width: 100px;
  }

  .poker-chip-image {
    width: 20px;
    height: 20px;
  }

  .poker-chip-amount {
    font-size: 12px;
  }
}
