.seat {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #222;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  .seat-cards {
    display: none;
  }
}

.ant-slider {
  height: 8px;
}

.ant-slider-track {
  height: 8px;
}

.ant-slider-rail {
  height: 8px;
}

.ant-slider-handle::after {
  height: 13px !important;
  width: 13px !important;
}
.ant-slider-handle::before {
  height: 13px !important;
  width: 13px !important;
  inset-inline-start: 0px !important;
  inset-block-start: 0px !important;
}
