.seat {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 35px;
}

.seat.preview {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  padding: 20px;
  cursor: not-allowed;
}

.seat:hover {
  border-color: rgba(255, 255, 255, 0.6) !important;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 992px) {
  .seat-cards {
    display: none;
  }
}

.ant-slider {
  height: 8px;
}

.ant-slider-track {
  height: 8px;
}

.ant-slider-rail {
  height: 8px;
}

.ant-slider-handle::after {
  height: 13px !important;
  width: 13px !important;
}
.ant-slider-handle::before {
  height: 13px !important;
  width: 13px !important;
  inset-inline-start: 0px !important;
  inset-block-start: 0px !important;
}
